{%- liquid
  assign menu_title_upcase = link.title | strip | upcase
  assign is_scents_menu = false
  if menu_title_upcase == 'SCENTS'
    assign is_scents_menu = true
  endif
-%}

<ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
  {%- if is_scents_menu and section.settings.scents_search_link != blank -%}
    <li>
      <a href="{{ section.settings.scents_search_link }}" class="menu-drawer__menu-item menu-drawer__menu-item--search link link--text list-menu__item focus-inset">
        {{ section.settings.scents_search_label | escape }}
      </a>
    </li>
  {%- endif -%}

  {%- for childlink in link.links -%}
    <li>
      {%- if childlink.links == blank -%}
        <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
          {{ childlink.title | escape }}
        </a>
      {%- else -%}
        <details id="Details-menu-drawer-submenu-{{ menu_index }}-{{ forloop.index }}">
          <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
            {{ childlink.title | escape }}
            {% render 'icon-arrow' %}
            {% render 'icon-caret' %}
          </summary>
          <div id="childlink-{{ childlink.handle | escape }}" class="menu-drawer__submenu has-submenu motion-reduce">
            <button class="menu-drawer-close-button link link--text focus-inset" aria-expanded="true">
              {% render 'icon-arrow' %}
              {{ childlink.title | escape }}
            </button>
            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
              {%- for grandchildlink in childlink.links -%}
                <li>
                  <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                    {{ grandchildlink.title | escape }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </details>
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>
