{%- liquid
  assign menu_title = menu_title | default: link.title | strip
  assign menu_title_upcase = menu_title | upcase

  assign scents_search_label = section.settings.scents_search_label | default: 'Search all scents'
  assign scents_search_href = '#'
  if section.settings.scents_search_link != blank
    assign scents_search_href = section.settings.scents_search_link
  endif
-%}

<ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
  {%- case menu_title_upcase -%}
    {%- when 'SHOP' -%}
      <li>
        <details id="Details-menu-drawer-submenu-{{ menu_index }}-1">
          <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
            Candles
            {% render 'icon-arrow' %}
            {% render 'icon-caret' %}
          </summary>
          <div id="childlink-candles" class="menu-drawer__submenu has-submenu motion-reduce">
            <button class="menu-drawer-close-button link link--text focus-inset" aria-expanded="true">
              {% render 'icon-arrow' %}
              Candles
            </button>
            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
              <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">Best Sellers</a></li>
              <li><p class="menu-drawer__menu-item link link--text list-menu__item">Shop by Size</p></li>
              <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">18oz Large</a></li>
              <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">30oz Victorian</a></li>
              <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">70oz 5-Wick</a></li>
              <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">15oz Wickless</a></li>
              <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">Custom Pour</a></li>
              <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">Seasonal Collection</a></li>
              <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">Limited Drops</a></li>
            </ul>
          </div>
        </details>
      </li>
      <li>
        <details id="Details-menu-drawer-submenu-{{ menu_index }}-2">
          <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
            Wax Melts
            {% render 'icon-arrow' %}
            {% render 'icon-caret' %}
          </summary>
          <div id="childlink-wax-melts" class="menu-drawer__submenu has-submenu motion-reduce">
            <button class="menu-drawer-close-button link link--text focus-inset" aria-expanded="true">
              {% render 'icon-arrow' %}
              Wax Melts
            </button>
            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
              <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">Break-Away Melts</a></li>
              <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">Cube Melts</a></li>
              <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">Create Your Own</a></li>
            </ul>
          </div>
        </details>
      </li>
      <li>
        <details id="Details-menu-drawer-submenu-{{ menu_index }}-3">
          <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
            Scent Shots
            {% render 'icon-arrow' %}
            {% render 'icon-caret' %}
          </summary>
          <div id="childlink-scent-shots" class="menu-drawer__submenu has-submenu motion-reduce">
            <button class="menu-drawer-close-button link link--text focus-inset" aria-expanded="true">
              {% render 'icon-arrow' %}
              Scent Shots
            </button>
            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
              <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">Shop All</a></li>
              <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">3-Pack Bundle</a></li>
              <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">6-Pack Bundle</a></li>
              <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">Custom Pack</a></li>
            </ul>
          </div>
        </details>
      </li>
      <li>
        <details id="Details-menu-drawer-submenu-{{ menu_index }}-4">
          <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
            Bundles
            {% render 'icon-arrow' %}
            {% render 'icon-caret' %}
          </summary>
          <div id="childlink-bundles" class="menu-drawer__submenu has-submenu motion-reduce">
            <button class="menu-drawer-close-button link link--text focus-inset" aria-expanded="true">
              {% render 'icon-arrow' %}
              Bundles
            </button>
            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
              <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">Sampler Packs</a></li>
              <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">Build Your Own Scent Shot Pack</a></li>
              <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">Build Your Own Melt Pack</a></li>
              <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">Category Boxes</a></li>
            </ul>
          </div>
        </details>
      </li>
      <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">Gift Cards</a></li>

    {%- when 'SCENTS' -%}
      <li>
        <a href="{{ scents_search_href }}" class="menu-drawer__menu-item menu-drawer__menu-item--search link link--text list-menu__item focus-inset">{{ scents_search_label | escape }}</a>
      </li>
      {%- assign scent_links = 'Bakery/Gourmand|Christmas|Clean|Customer Creations|Earthy|Fall|Floral|Fruity|House Blends|Lush Dupes|Luxury Spa|Perfume & Cologne|Tropical|All Scents (A–Z)|Search All Scents' | split: '|' -%}
      {%- for scent_link in scent_links -%}
        <li>
          <a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">{{ scent_link }}</a>
        </li>
      {%- endfor -%}
    {%- when 'SUBSCRIBE' -%}
      {%- assign subscribe_links = 'Program Overview|Subscription Bundles|Manage Subscription' | split: '|' -%}
      {%- for subscribe_link in subscribe_links -%}
        <li><a href="#" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">{{ subscribe_link }}</a></li>
      {%- endfor -%}
  {%- endcase -%}
</ul>