{%- liquid
  assign menu_title = menu_title | default: link.title | strip
  assign menu_title_upcase = menu_title | upcase

  assign is_shop_menu = false
  if menu_title_upcase == 'SHOP'
    assign is_shop_menu = true
  endif

  assign is_scents_menu = false
  if menu_title_upcase == 'SCENTS'
    assign is_scents_menu = true
  endif

  assign eyebrow_text = ''
  if is_shop_menu
    assign eyebrow_text = 'Shop by format'
  elsif is_scents_menu
    assign eyebrow_text = 'Shop by scent'
  endif

  assign featured_block = blank
  for nav_block in section.blocks
    assign promo_item_upcase = nav_block.settings.mega_promotion_item | strip | upcase
    if nav_block.type == 'mega_promotion' and promo_item_upcase == menu_title_upcase
      assign featured_block = nav_block
      break
    endif
  endfor
-%}

<div
  id="MegaMenu-Content-{{ menu_index }}"
  class="navigation-submenu top mega-menu__content cbv-mega-menu color-{{ section.settings.color_scheme }} gradient motion-reduce global-settings-popup"
  tabindex="-1"
>
  <div class="cbv-mega-menu__inner page-width">
    <div class="cbv-mega-menu__main">
      {%- if eyebrow_text != blank -%}
        <p class="cbv-mega-menu__eyebrow">{{ eyebrow_text }}</p>
      {%- endif -%}
      <ul class="cbv-mega-menu__columns" role="list">
        {%- case menu_title_upcase -%}
          {%- when 'SHOP' -%}
            <li class="cbv-mega-menu__column">
              <a href="#" class="mega-menu__link mega-menu__link--level-2 heading-bold link"><span>Candles</span></a>
              <ul class="cbv-mega-menu__sublist list-unstyled" role="list">
                <li><a href="#" class="mega-menu__link link"><span>Best Sellers</span></a></li>
                <li>
                  <p class="mega-menu__link mega-menu__link--level-2 heading-bold"><span>Shop by Size</span></p>
                  <ul class="cbv-mega-menu__sublist list-unstyled" role="list">
                    <li><a href="#" class="mega-menu__link link"><span>18 oz</span></a></li>
                    <li><a href="#" class="mega-menu__link link"><span>30 oz</span></a></li>
                    <li><a href="#" class="mega-menu__link link"><span>70 oz</span></a></li>
                    <li><a href="#" class="mega-menu__link link"><span>15 oz Wickless</span></a></li>
                  </ul>
                </li>
                <li><a href="#" class="mega-menu__link link"><span>Build Your Own</span></a></li>
                <li><a href="#" class="mega-menu__link link"><span>Seasonal</span></a></li>
              </ul>
            </li>
            <li class="cbv-mega-menu__column">
              <a href="#" class="mega-menu__link mega-menu__link--level-2 heading-bold link"><span>Wax Melts</span></a>
              <ul class="cbv-mega-menu__sublist list-unstyled" role="list">
                <li><a href="#" class="mega-menu__link link"><span>Break-Away Melts</span></a></li>
                <li><a href="#" class="mega-menu__link link"><span>Cube Melts</span></a></li>
                <li><a href="#" class="mega-menu__link link"><span>Build Your Own Melts</span></a></li>
              </ul>
            </li>
            <li class="cbv-mega-menu__column">
              <a href="#" class="mega-menu__link mega-menu__link--level-2 heading-bold link"><span>Scent Shots</span></a>
              <ul class="cbv-mega-menu__sublist list-unstyled" role="list">
                <li><a href="#" class="mega-menu__link link"><span>Shop All</span></a></li>
                <li><a href="#" class="mega-menu__link link"><span>3-Packs</span></a></li>
                <li><a href="#" class="mega-menu__link link"><span>6-Packs</span></a></li>
                <li><a href="#" class="mega-menu__link link"><span>Build Your Own Pack</span></a></li>
              </ul>
            </li>
            <li class="cbv-mega-menu__column">
              <a href="#" class="mega-menu__link mega-menu__link--level-2 heading-bold link"><span>Gifts &amp; Specials</span></a>
              <ul class="cbv-mega-menu__sublist list-unstyled" role="list">
                <li><a href="#" class="mega-menu__link link"><span>Sampler Packs</span></a></li>
                <li><a href="#" class="mega-menu__link link"><span>Gift Cards</span></a></li>
                <li><a href="#" class="mega-menu__link link"><span>Limited Drops</span></a></li>
              </ul>
            </li>
          {%- when 'SCENTS' -%}
            {%- assign scent_links = 'Bakery/Gourmand|Christmas|Clean|Customer Creations|Earthy|Fall|Floral|Fruity|House Blends|Lush Dupes|Luxury Spa & Hotel|Perfume & Cologne|Tropical|Best Sellers|All Scents (A–Z)|Search' | split: '|' -%}
            {%- for scent_link in scent_links -%}
              <li class="cbv-mega-menu__column cbv-mega-menu__column--compact">
                <a href="#" class="mega-menu__link mega-menu__link--level-2 heading-bold link"><span>{{ scent_link }}</span></a>
              </li>
            {%- endfor -%}
          {%- when 'BUNDLES' -%}
            {%- assign bundles_links = 'Sampler Packs|Build Your Own Scent Shot Pack|Build Your Own Melt Pack|Category Boxes' | split: '|' -%}
            {%- for bundles_link in bundles_links -%}
              <li class="cbv-mega-menu__column cbv-mega-menu__column--compact">
                <a href="#" class="mega-menu__link mega-menu__link--level-2 heading-bold link"><span>{{ bundles_link }}</span></a>
              </li>
            {%- endfor -%}
          {%- when 'SUBSCRIBE & SAVE' -%}
            {%- assign subscribe_links = 'Subscribe & Save Overview|Subscription Bundles|Manage Subscription' | split: '|' -%}
            {%- for subscribe_link in subscribe_links -%}
              <li class="cbv-mega-menu__column cbv-mega-menu__column--compact">
                <a href="#" class="mega-menu__link mega-menu__link--level-2 heading-bold link"><span>{{ subscribe_link }}</span></a>
              </li>
            {%- endfor -%}
          {%- when 'BEST SELLERS' -%}
            {%- assign best_sellers_links = 'Best Sellers (All)|Best Selling Candles|Best Selling Scent Shots|Best Selling Melts' | split: '|' -%}
            {%- for best_sellers_link in best_sellers_links -%}
              <li class="cbv-mega-menu__column cbv-mega-menu__column--compact">
                <a href="#" class="mega-menu__link mega-menu__link--level-2 heading-bold link"><span>{{ best_sellers_link }}</span></a>
              </li>
            {%- endfor -%}
          {%- when 'SEASONAL' -%}
            {%- assign seasonal_links = 'Seasonal Shop|Fall|Christmas|Limited Drops' | split: '|' -%}
            {%- for seasonal_link in seasonal_links -%}
              <li class="cbv-mega-menu__column cbv-mega-menu__column--compact">
                <a href="#" class="mega-menu__link mega-menu__link--level-2 heading-bold link"><span>{{ seasonal_link }}</span></a>
              </li>
            {%- endfor -%}
        {%- endcase -%}
      </ul>
    </div>

    <aside class="cbv-mega-menu__feature" aria-label="Featured">
      {%- if is_scents_menu and section.settings.scents_search_link != blank -%}
        <a href="{{ section.settings.scents_search_link }}" class="cbv-mega-menu__search-card link focus-inset">
          <p class="cbv-mega-menu__search-title">{{ section.settings.scents_search_heading | escape }}</p>
          {%- if section.settings.scents_search_copy != blank -%}
            <p class="cbv-mega-menu__search-copy">{{ section.settings.scents_search_copy | escape }}</p>
          {%- endif -%}
          <span class="cbv-mega-menu__search-cta">{{ section.settings.scents_search_label | escape }}</span>
        </a>
      {%- endif -%}

      {%- if featured_block != blank -%}
        <div class="mega-menu-collection" {{ featured_block.shopify_attributes }}>
          {%- if featured_block.settings.mega_promotion_title != blank -%}
            <p class="title heading-bold">{{ featured_block.settings.mega_promotion_title }}</p>
          {%- endif -%}
          <div class="mega-menu-collection-image">
            {%- if featured_block.settings.mega_promotion_image != blank -%}
              <a href="{{ featured_block.settings.mega_promotion_link }}" class="title-link">
                {{ featured_block.settings.mega_promotion_image | image_url: width: 300 | image_tag: loading: 'lazy' }}
              </a>
            {%- else -%}
              {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
          {%- if featured_block.settings.mega_promotion_caption != blank -%}
            <div class="mega-menu-collection-text">
              <p class="caption-with-letter-spacing">{{ featured_block.settings.mega_promotion_caption | escape }}</p>
            </div>
          {%- endif -%}
          {%- if featured_block.settings.mega_promotion_link_label != blank -%}
            <div class="mega-menu-link link">
              <a class="link animate-arrow" {% if featured_block.settings.mega_promotion_link == blank %}role="link" aria-disabled="true"{% else %}href="{{ featured_block.settings.mega_promotion_link }}"{% endif %}>{{ featured_block.settings.mega_promotion_link_label | escape }}</a>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </aside>
  </div>
</div>
